<?xml version="1.0"?>
<configuration>
  
  <system.web>
    <compilation  targetFramework="4.8" debug="true"/>
    <pages validateRequest="false"></pages>
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <connectionStrings>
    <add name="PMU" connectionString="Data Source=SG2NWPLS19SQL-v07.mssql.shr.prod.sin2.secureserver.net;Initial Catalog=PmistDbApplication;Persist Security Info=True;User ID=dbApplications;Password=Pa55w0rd@1" providerName="System.Data.SqlClient" />
  </connectionStrings> 
</configuration>