
/* table  */
.table-custom thead {
    border-top: 3px solid #FFF2D5;
    border-left: 1px solid #FFF2D5;
    border-right: 1px solid #FFF2D5;
}

.table-custom thead th {
    align-content: center;
    background: #FFF2D5;
    text-align: center;
    color: #121212;
    font-family: 'Afacad-Semibold';
    font-size: 19px;
    border-bottom: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    font-style: normal;
    line-height: 150%;
    padding: 7px;
}

.table>:not(caption)>*>* {
    padding: 0;
}

.table-custom tbody tr:nth-child(odd) {
    background-color: #EBF5FF;
}

.table-custom tbody tr:nth-child(even) {
    background-color: #F9FCFF;
}

.table-custom tbody td {
    background-color: transparent;
    color: #121212;
    font-family: 'Afacad-Regular';
    font-size: 16px;
    font-style: normal;
    line-height: 150%;
    text-transform: capitalize;
}

.table-custom tr td:nth-child(1) {
    font-family: 'Afacad-Medium';
}

.table-custom {
    min-width: 627px;
}

.table-custom td {
    align-content: center;
    border: 1px solid #DCDCDC;
    padding: 15px 20px 15px 20px;
}

.row-odd {
    background: #FFF2D5 !important;
}

.row-even {
    background: #FFFCF5 !important;
}

.td-heading {
    font-family:'Figtree-Bold' !important; 
}

.top-heading  {
    color: #FFF !important;
    font-family:'Figtree-Bold' !important; 
font-size: 18px;
line-height: 150%; /* 27px */
letter-spacing: 0.54px;
text-transform: uppercase;
background: #1F2B49 !important;
padding: 17px 7px !important; 
}

.small-BA-line::before {
    content: "";
    display: inline-block;
    width: 20%;
    height: 2px;
    margin: 8px 10px;
    background: linear-gradient(90deg, #1F2B49 0%, #fff 100%);
}

.small-BA-line::after {
    content: "";
    display: inline-block;
    width: 20%;
    height: 2px;
    margin: 8px 10px;
    background: linear-gradient(254deg, #1F2B49 0%, #fff 100%);
}
/* table END  */