/* stylesheet for demo and examples */

#iframe-container iframe
{
	width: 100%;
}
.content_i{
	overflow: auto;
	position: relative;
	padding: 20px;
	margin: 10px;
	/*width: 740px;*/
	max-width: 97%;
	height: 460px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

.content_i.hidden{ display: none; }

.content_i.light{
	background-color: #ddd;
	color: #333;
}

.content_i hr{
	margin-bottom: -10px;
	border-top: 1px solid rgba(0,0,0,0.7);
}

.content_i.light hr{
	border-bottom: 1px solid rgba(255,255,255,0.6);
	border-top: 1px solid rgba(0,0,0,0.1);
}

.content_i p{ margin: 30px 0; }

.content_i p:last-child{ margin-bottom: 5px; }

.content_i p:nth-child(odd), .content_i.light p:nth-child(odd){
	background: #444;
	background: rgba(255,255,255,0.1);
	padding: 5px 10px;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

.content_i p:nth-child(3n+3){
	color: #bbb;
	background: none;
	padding: 0;
}

.content_i.light p:nth-child(odd){
	background: #fff;
	background: rgba(255,255,255,0.8);
}

.content_i.light p:nth-child(3n+3){ color: #666; }

.content_i p.full:nth-child(odd), .content_i p.half:nth-child(odd), 
.content_i p.full:nth-child(3n+3), .content_i p.half:nth-child(3n+3){
	background: none;
	padding: 0;
}

.content_i h2{
	font-size: 200%;
	line-height: 130%;
}

.content_i h2:first-child{ margin-top: 5px; }

.content_i:nth-child(odd) h2{
	font-family: "Oswald", sans-serif;
	font-weight: 300;
	font-style: normal;
}

hr + .content_i:nth-child(odd) h2{
	font-family: "Lobster Two", "Georgia", serif;
	font-weight: 700;
	font-style: italic;
}

.content_i.light h2{ color: inherit; }

.content_i img{
	margin: 0;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	padding: 3px;
	background: rgba(0,0,0,0.2);
}

.content_i.light img{ background: rgba(255,255,255,0.4); }

.content_i input[type='text'], .content_i textarea{
	border: none;
	background: transparent;
	background-color: #bbb;
	background-color: rgba(255,255,255,0.6);
	min-height: 20px;
	padding: 5px;
	-moz-box-shadow: inset -1px -1px 1px rgba(255,255,255,0.6), inset 3px 3px 20px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset -1px -1px 1px rgba(255,255,255,0.6), inset 3px 3px 20px rgba(0,0,0,0.5);
	box-shadow: inset -1px -1px 1px rgba(255,255,255,0.6), inset 3px 3px 20px rgba(0,0,0,0.5);
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
	width: 50%;
	font-size: inherit;
	font-family: inherit;
	color: #222;
}

.content_i textarea{
	min-height: 80px;
	width: 70%;
}

.content_i .half img{
	max-width: 48%;
	margin: 0 0 2% 2%;
}

.content_i .half img:nth-child(odd){ margin: 0 2% 2% 0; }

#demo.showcase{ min-width: 740px; }

.showcase .content_i{
	float: left;
	width: 340px;
	height: 300px;
}

.showcase .horizontal-images.content_i{
	height: 140px;
	width: 700px;
	max-width: 97%;
	padding: 5px 5px 0 5px;
}

.showcase .horizontal-images.content_i h2, .showcase .horizontal-images.content_i li img{ height: 119px; }

.showcase .horizontal-images.content_i h2{
	color: #fff;
	background-color: #eb3755;
	padding: 10px 20px;
	margin: 0;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	font-size: 165%;
}

.horizontal-images.content_i ul, .vertical-images.content_i ul{
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.horizontal-images.content_i li{
	margin: 0 3px;
	float: left;
}

.vertical-images.content_i li{ margin: 3px 0; }

.horizontal-images.content_i li:first-child{ margin-left: 0; }

.vertical-images.content_i li:first-child{
	margin-bottom: 3px;
	margin-top: 0;
}

.horizontal-images.content_i li:last-child{ margin-right: 0; }

.vertical-images.content_i li:last-child{ margin-bottom: 0; }

.horizontal-images.content_i li img{
	width: auto;
	padding: 0;
}

.showcase #content-1.content_i{ height: 620px; }

.showcase #content-2.content_i{ height: 620px; }

.showcase #content-2.content_i h2{ color: #333; }

.showcase #content-3.content_i{
	background-color: #412626;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAJ0lEQVQIW2NkwA7+M2IR/w8UY0SXAAuCFCNLwAWRJVAEYRIYgiAJALsgBgYbCawOAAAAAElFTkSuQmCC");
	margin-right: 40px;
	width: 310px;
}

.showcase #content-3.content_i h2{ color: #eb3755; }

.showcase #content-4.content_i{ background-color: #1C383F; }

.showcase #content-4.content_i h2{ color: #ddd; }

.showcase #content-6.horizontal-images.content_i{
	padding: 10px 0 5px 0;
	background-color: #444;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2NkYGA4A8QmQAwGjDAGNgGwSgwVAFVOAgV/1mwxAAAAAElFTkSuQmCC");
}

.showcase #content-6.horizontal-images.content_i .mCSB_scrollTools{
	margin-left: 10px;
	margin-right: 10px;
}

.showcase #content-6.horizontal-images.content_i ul{
	margin-left: 10px;
	margin-right: 10px;
}

.showcase #content-6.horizontal-images.content_i h2{
	color: #222;
	background-color: #c2beb2;
}

.showcase #content-6.horizontal-images.content_i h2, .showcase #content-6.horizontal-images.content_i li img{ height: 105px; }

.showcase #content-7.content_i{ height: 620px; }

.showcase #content-8.content_i{
	width: 670px;
	height: 580px;
	padding: 0;
	background-color: #151515;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAK0lEQVQIW2NkwAL+//9vzIguDhZkZDyLIgETBCmGSyALwiXQBcES2ARBEgCUVxc3f8oLcQAAAABJRU5ErkJggg==");
	border: 5px solid rgba(0,0,0,0.5);
	margin-right: 40px;
	margin-bottom: 50px;
}

.showcase #content-8.content_i h2{
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.showcase #content-8.content_i p{
	width: 710px;
	float: left;
	margin: 15px 20px;
}

.showcase #content-8.content_i hr + p{ margin-top: 30px; }

.showcase #content-8.content_i p:nth-child(3n+1){
	width: 1460px;
	clear: both;
}

.showcase #content-9.content_i{
	height: 620px;
	background-color: #c2beb2;
	padding: 5px;
}

.showcase #content-9.content_i .mCSB_container{ margin-right: 21px; }

.showcase #content-9.content_i h2{
	height: 85px;
	padding: 10px;
	margin-bottom: 0;
	margin-top: 15px;
	font-size: 180%;
	color: #333;
}

.showcase #content-9.content_i img{
	padding: 0;
	vertical-align: bottom;
}

#iframe-container{
	width: 100%;
	max-width: 1110px;
	/*background: #000;*/
	overflow: hidden;
}

#iframe-container iframe{ vertical-align: bottom; }

#infinite-scroll .offset{
	display: block;
	width: 100%;
	height: auto;
	color: #ffed0d;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

#infinite-scroll .offset p{
	margin-bottom: 60px;
}

#infinite-scroll .offset .indicator{
	display: block;
	width: 100%;
	height: 100px;
	background: #ffed0d;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

#examples.resizable{ 
	background:#444; 
	padding-bottom: 30px; 
}

#resizable.content_i{
	overflow: hidden;
	width: 640px;
	max-width: 80%;
	-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; /* jquery ui resizable bug: http://bugs.jqueryui.com/ticket/8932 */
}

#resizable.content_i h2{ color: #444; }

#resizable.content_i p{ width: 1000px }

.content_i.fluid{
	width: 90%;
	max-width: 1680px;
}

.content_i.fluid h2{
	color: #eb3755;
	font-family: "Lobster Two", "Georgia", serif;
	font-weight: 700;
	font-style: italic;
}

.content_i.nested{ height: 600px; }

.content_i.nested .nested{
	margin: 0 auto;
	background-color: rgba(0,0,0,0.1);
	height: 400px;
}

#content-1.content_i.nested{ margin-bottom: 40px; }

#content-1.content_i.nested p{ width: 1000px; }

#content-1.content_i.nested .nested{
	margin: 20px;
	width: 600px;
	height: 300px;
}

.content_i.zero-height{ height: 0; }

.content_i.zero-width{ width: 0; }

.init-hidden #examples{ min-height: 420px; }

.full-page .content_i{ height: 800px; }

.full-page-alt #mCSB_1_container{
	width: 97% !important; /* override plugin property */
	min-width: 480px;
}

.full-page-alt #mCSB_1_scrollbar_vertical{
	position: fixed;
	margin-right: 30px;
	margin-top: 16px;
	margin-bottom: 16px;
}

.full-page-alt #mCSB_1_scrollbar_horizontal{
	position: fixed;
	margin-bottom: 30px;
	margin-left: 16px;
	margin-right: 16px;
}

.full-page-alt .outer.content_i{ width: 960px; }

.full-page-alt .horizontal-images.content_i{
	height: 275px;
	width: 100%;
	margin: 20px auto 10px auto;
}

.full-page-alt .horizontal-images.content_i img{ height: 200px; }

.content_i table{
	width: 100%;
	border-collapse: collapse;
	border-top: 1px dashed #666;
	border-left: 1px dashed #666;
	border-right: 1px dashed #666;
	background: rgba(0,0,0,0.1);
}

.content_i table tr{ border-bottom: 1px dashed #666; }

.content_i table td{ padding: 10px 20px 9px 20px; }

.sortable{ min-width: 800px; }


.textarea-example .content_i .textarea-wrapper .mCSB_scrollTools{ margin: 10px 5px; }

.scrollTo-demo .content_i{ height: 290px; }

.scrollTo-demo .demo-y{ height: 600px; }

.scrollTo-demo .demo-x{
	width: 660px;
	background-color: #252525;
}

.scrollTo-demo .demo-x p{
	float: left;
	width: 300px;
	margin-left: 30px;
	height: auto;
	padding: 5px 10px;
	background-color: #333;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

.scrollTo-demo .demo-x hr + p{ margin-left: 0; }

.scrollTo-demo .demo-yx{ background-color: #424242; }

.scrollTo-demo .demo-yx p{ width: 1000px; }

.scrollTo{ font-size: 12px; }

.scrollTo + .scrollTo{ margin-top: 20px; }

.scrollTo ul li:first-child span{
	display: block;
	padding: 3px 15px;
}

#test-id{
	background-color: #eb3755;
	color: #fff;
}

.rtl-demo #content-1{ width: 500px; }

.rtl-demo #content-1 p{ width: 1000px; }

.transitions #examples{
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
}

.transitions .content_i{
	-webkit-transition: all .6s ease-out; 
	-moz-transition: all .6s ease-out; 
	-o-transition: all .6s ease-out; 
	transition: all .6s ease-out; 
}


@media only screen and (min-width: 1229px){
	.showcase .horizontal-images.content_i{ width: 1060px; }
}

@media only screen and (min-width: 1629px){
	.showcase .horizontal-images.content_i{ width: 700px; }
}



