.table-custom thead {
    border-top: 3px solid #FFF2D5;
    border-left: 1px solid #FFF2D5;
    border-right: 1px solid #FFF2D5;
}



.table-custom td {
    align-content: center;
    border: 1px solid #DCDCDC;
    padding: 15px 30px 15px 50px;
}

.table-custom thead th {
    align-content: center;
    background: #FFF2D5;
    text-align: center;
    color: #121212;
    font-family: 'Afacad-Semibold';
    font-size: 19px;
    padding: 12px 30px 14px;
    border-bottom: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    font-style: normal;
    line-height: 150%;
}

.table-custom tbody td {
    background-color: transparent;
    color: #121212;
    font-family: 'Afacad-Regular';
    font-size: 16px;
    font-style: normal;
    line-height: 150%;
    text-transform: capitalize;
}

.table-custom tr td:nth-child(1) {
    font-family: 'Afacad-Medium';
}

.table-custom tbody tr:nth-child(odd) {
    background-color: #EBF5FF;
}

.table-custom tbody tr:nth-child(even) {
    background-color: #F9FCFF;
}

@media (max-width:991px) {
    .table-custom td {
        padding: 15px 10px 15px 20px;
    }
}

.contact-name {
    color: #282828;
    font-family: 'Figtree-Bold';
    font-size: 16px;
    font-style: normal;
    line-height: 180%;
    text-transform: uppercase;
    margin: 0;
}

.Research {
    color: #282828;
    font-family: 'Afacad-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 180%;
    margin: 0;
}

.mbl-number {
    color: #282828;
    font-family: 'Figtree-Bold';
    font-size: 16px;
    font-style: normal;
    line-height: 180%;
    margin: 0;
}

.mbl-number span {
    color: #282828;
    font-family: 'Afacad-Regular';
    font-style: normal;
    line-height: 180%;
}

.contact-part-line::after {
    position: absolute;
    content: '';
    height: 80%;
    width: 1px;
    background: linear-gradient(to bottom, white, #3A3A3A 49%, white);
    left: 31.1%;
    top: 50%;
    transform: translateY(-50%);
   
}

.contact-part-line::before{
    position: absolute;
    content: '';
    height: 80%;
    width: 1px;
    background: linear-gradient(to bottom, white, #3A3A3A 49%, white);
    right: 35.1%;
    top: 50%;
    transform: translateY(-50%);
   
}

.contact-set {
    row-gap: 20px;
}


@media (min-width:2000px) {
    .table-custom thead th {
        font-size: 24px;
    }

    .table-custom tbody td {
        font-size: 21px;
    }

    .contact-name {
        font-size: 21px;
    }

    .Research {
        font-size: 21px;
    }

    .mbl-number {
        font-size: 21px;
    }
}


@media (max-width:1200px) {
    .contact-part-line::after {
        display: none;
       
    }
    
    .contact-part-line::before{
        display: none;
       
    }
}