<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.  Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <dataConfiguration defaultDatabase="testing" />
  <connectionStrings>
    <add name="PMU_local" connectionString="Data Source=.\sqlexpress;Initial Catalog=e76164pmued_dbtest;Persist Security Info=True;User ID=sa;Password=sql2012" />
    <add name="PMU" connectionString="Data Source=SG2NWPLS19SQL-v07.mssql.shr.prod.sin2.secureserver.net;Initial Catalog=PmistDbApplication;Persist Security Info=True;User ID=dbApplications;Password=Pa55w0rd@1" providerName="System.Data.SqlClient" />
   
    <add name="PMUSSD" connectionString="Data Source=SG2NWPLS19SQL-v07.mssql.shr.prod.sin2.secureserver.net;Initial Catalog=dbpmucareer;Persist Security Info=True;User ID=dbpmucareer;Password=pmist123@" providerName="System.Data.SqlClient"/>
    
    <add name="BRAIN" connectionString="Data Source=SG2NWPLS19SQL-v07.mssql.shr.prod.sin2.secureserver.net;Initial Catalog=dbLIS2Brain;Persist Security Info=True;User ID=dbLIS2Brain;Password=dbLIS2Brain2024" providerName="System.Data.SqlClient" />
    <add name="COE" connectionString="Data Source=SG2NWPLS19SQL-v07.mssql.shr.prod.sin2.secureserver.net;Initial Catalog=COE;Persist Security Info=True;User ID=coe1;Password=Pm!st2017" providerName="System.Data.SqlClient" />
    <add name="CBD" connectionString="Data Source=SG2NWPLS19SQL-v07.mssql.shr.prod.sin2.secureserver.net;Initial Catalog=CBD;Persist Security Info=True;User ID=cbd;Password=cbd@2018" providerName="System.Data.SqlClient" />
    <add name="FORUMCONNECT_loc" connectionString="Data Source=mssql.pmu.edu;Initial Catalog=FORUM;Persist Security Info=True;User ID=forum1;Password=Pm!st2017" providerName="System.Data.SqlClient" />
    <add name="AES" connectionString="Data Source=SG2NWPLS19SQL-v07.mssql.shr.prod.sin2.secureserver.net;Initial Catalog=Admission_Enquiry;Persist Security Info=True;User ID=admissionenquiry;Password=Pm!st2018;connection timeout=1525600" providerName="System.Data.SqlClient" />
    <add name="OH2018" connectionString="Data Source=SG2NWPLS19SQL-v07.mssql.shr.prod.sin2.secureserver.net;Initial Catalog=OpenHouse2018;Persist Security Info=True;User ID=OH2018;Password=OpenHouse@2018;connection timeout=1525600" providerName="System.Data.SqlClient" />
    <add name="OH2020" connectionString="Data Source=SG2NWPLS19SQL-v07.mssql.shr.prod.sin2.secureserver.net;Initial Catalog=OpenHouse2020;Persist Security Info=True;User ID=OH2018;Password=OpenHouse@2018;connection timeout=1525600" providerName="System.Data.SqlClient" />
    <add name="Periyar1000English" connectionString="Server=SG2NWPLS19SQL-v07.mssql.shr.prod.sin2.secureserver.net;Database=dbperiyar1000;User ID=dbperiyar1000;Password=Periyar123@;connection timeout=1525600" providerName="System.Data.SqlClient" />
    <add name="PMULead" connectionString="Server=P3NWPLSK12SQL-v14.shr.prod.phx3.secureserver.net;Database=dbPmistLead2;User ID=dbPmistLead2;Password=dbPmistLead123@;Connect Timeout=60;Max Pool Size=50000;Pooling=false;" />

  </connectionStrings>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="G:\\PleskVhosts\\pmu.edu\\httpdocs\\applicationLog\log-%utcdate{yyyy-MMM-dd}.txt">
      </file>
      <datePattern value="dd.MM.yyyy'.txt'" />
      <staticLogFileName value="false" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10000" />
      <maximumFileSize value="1KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%utcdate{yyyy-MM-dd hh:mm:ss tt} [%thread] %level %logger - %message %newline" />
      </layout>
    </appender>
  </log4net>
  <system.web>
    <trust level="Full" />
    <sessionState timeout="3600" mode="InProc" />
    <!--<identity impersonate="true"/>-->
    <httpRuntime maxRequestLength="102400" executionTimeout="18000" requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.5" tempDirectory="G:\PleskVhosts\pmu.edu\tmp" />
    <customErrors mode="Off" defaultRedirect="~/errors/paymentFailure.aspx">
      <error statusCode="400" redirect="~/errors/paymentFailure.aspx?msg=Server Error &amp; handler=customErrors%20section%20-%20Web.config" />
    </customErrors>
    <!-- <customErrors mode="Off"></customErrors> -->
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>-->
    <httpModules>
    </httpModules>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <appSettings>

    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="FilePath" value="G:\\PleskVhosts\\pmu.edu\\httpdocs\\PropertyFiles\\Merchant.property" />
    <add key="LogFilePath" value="G:\\PleskVhosts\\pmu.edu\\httpdocs\\Log\\" />
    <add key="TPSLService" value="https://www.tpsl-india.in/PaymentGateway/services/TransactionDetailsNew?wsdl" />
    <add key="EmailID" value="applications@pmu.edu" />
    <add key="Password" value="PMUApp2014" />
    <!--<add key="STUDENTPHOTO" value="~\PMUApplication\images\photo\"/>-->
    <add key="STUDENTPHOTOs" value="~/admission\images\photo\" />
    <add key="reports-download-path" value="~\adminpmu\reports\" />
    <add key="reports-download-path" value="~\convocationadmin\downloads\" />
    <add key="EventImages" value="/events/images/" />
    <add key="Eventpdf" value="/events/pdf/" />
    <add key="Gallery" value="/gallery/" />
    <add key="VideoImages" value="/gallery/Video/" />
    <add key="SliderImages" value="/images/homepage/" />
    <add key="FacultyImages" value="/images/faculty/" />
    <add key="Facultypdf" value="/images/faculty/pdf/" />
    <add key="Naacpdf" value="/aqar/pdf/" />
    <add key="NaacVideo" value="/aqar/video/" />
    <add key="NaacImage" value="/aqar/images/" />
    <add key="IQACpdf" value="/iqac/pdf/" />
    <add key="IQACimage" value="/iqac/images/" />
    <add key="Alumniimage" value="/alumni/images/" />
    <add key="Recurit" value="/recurit/" />
    <add key="Alumini" value="/aluminipdf/" />

    <add key="ResumePath" value="/careerportal/resume/" />
    <add key="achievementImages" value="/images/achievement/" />
    <add key="QuizSchoolReg" value="/periyarquiz/UploadQuizSchoolReg/" />
    <add key="QuizStudentDetailsReg" value="/periyarquiz/UploadQuizStudentList/"/>
    <add key ="FolderPath" value ="/Periyarquiz-Old/Files/"/>
    <add key="ConvocationPath" value="/convocationadmin/ConvocationExcel/" />
    <add key="BulkuploadPath" value="/admissionseattracker/Bulkupload/" />
    <add key="TransportBulkuploadPath" value="/transport-management-system/Bulkupload/" />
    <add key="BulkuploadHostel_DetailsPath" value="/hostel-management-system/BulkuploadHostel_Details/" />
    <add key="BulkRoomAllotmentPath" value="/hostel-management-system/BulkRoomAllotment/" />
    <add key="BulkuploadStudGrievPath" value="/students-grievance/BulkuploadStudGriev/"/>
   <add key="BulkuploadMockQAFolderPath" value="/Mocktest/BulkUploadMockQA/" />
    <add key="BulkuploadPMESEFolderPath" value="/BulkUploadPMESE/" />
   <add key="MockTestAnswerkeyPath" value="/Mocktest/admin/pdf/answerkey/" />
    
	<add key="DLPInstructorImgPath" value="/pmistdlp/DLPInstructorImg/"/>
    <add key="DLPThumbnailImgPath" value="/pmistdlp/DLPThumbnailImg/"/>
    <add key="DLPVideoPath" value="/pmistdlp/DLPVideo/"/>
    <add key="DLPPdfPath" value="/pmistdlp/DLPPdf/"/>
    <add key="Excelformat" value="/careers/Formatfile/"/>

    <add key="PDFSSD" value="/Sustainable-Development/SSDPdfFile/"/>
    <add key="imagessd" value="/Sustainable-Development/SSDimagefile/"/>
    <add key="Thumnailssd" value="/Sustainable-Development/SSDthumnailimage/"/>
    <add key="gallerySSD" value="/Sustainable-Development/SSDimagegallery/"/>

    <add key="GIImage" value="/Sustainable-Development/SSDGIImage/"/>
    <add key="ExtActImage" value="/Sustainable-Development/SSDExtActimage/"/>
  
    <add key="CSMDepartmentPDF" value="/cmsadmin/CSMDepartmentPDF/"/>

  </appSettings>

  <location path="aboutpmu.aspx" allowOverride="false">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://pmu.edu/about/" httpResponseStatus="Permanent" />
    </system.webServer>
    <!--system.web>
      <trust level="Full" />
    </system.web-->
  </location>
  <location path="pmuhistory.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://pmu.edu/about/history.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="management.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://pmu.edu/about/management.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="committees.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://pmu.edu/about/committee.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="Statutorybodies.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://pmu.edu/about/statutory-bodies.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="academic.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://pmu.edu/about/academic.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="placement/placement_2016/index.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://pmu.edu/about/placements.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="byelawsandconstitution.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://pmu.edu/about/bye-laws.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <!--Programs-->
  <location path="architecturedepartment/about.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://pmu.edu/department-of-architecture/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="aerospacedepartment/about.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://pmu.edu/department-of-aerospace/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="biotechnologyDepartment/about.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://pmu.edu/department-of-biotechnology/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="chemicalengineeringdepartment/about.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://pmu.edu/department-of-chemical-engineering/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="civilengineeringdepartment/about.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://pmu.edu/department-of-civil-engineering/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="electronicsandcommunicationdepartment/about.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://pmu.edu/department-of-electronics-and-communication/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="electricalandelectronicsdepartment/about.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://pmu.edu/department-of-electrical-and-electronics/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="nanotechnology/about.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://pmu.edu/department-of-nano-technology/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="computerscienceandengineeringdepartment/about.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://pmu.edu/department-of-computer-science-engineering/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="informationtechnologydepartment/about.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://pmu.edu/department-of-information-technology/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="computersciencedepartment/about.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://pmu.edu/department-of-computer-science-applications/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="softwareengineeringdepartment/about.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://pmu.edu/department-of-software-engineering/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="mathematicsdepartment/about.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/department-of-mathematics/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="chemistrydepartment/about.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://pmu.edu/department-of-chemistry/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="englishdepartment/about.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://pmu.edu/department-of-english/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="physicsdepartment/about.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/department-of-physics/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="managementstudiesdepartment/about.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/department-of-management-studies/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="educationdepartment/about.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/department-of-education/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="physicaleducationdepartment/about.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/department-of-physical-education/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <!--Admission-->
  <location path="admission2017-18.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/admissions/admission-2017-18.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="pmu-online-application-form.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/admissions/apply-online.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <!-- <location path="admission2017-18/Registration.aspx"> -->
  <!-- <system.webServer> -->
  <!-- <httpRedirect enabled="true" destination="http://www.pmu.edu/admission2017-18/registration.aspx" httpResponseStatus="Permanent" /> -->
  <!-- </system.webServer> -->
  <!-- </location> -->
  <!--<location path="admission2017-18/ResearchApplicationRegister.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://pmu.edu/admission2017-18/closed.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>-->
  <!--Admission Login-->
  <!-- <location path="admission2017-18/login.aspx"> -->
  <!-- <system.webServer> -->
  <!-- <httpRedirect enabled="true" destination="http://www.pmu.edu/admission2017-18/login.aspx" httpResponseStatus="Permanent" /> -->
  <!-- </system.webServer> -->
  <!-- </location> -->
  <!--<location path="admission2017-18/LoginForm.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/admission2017-18/closed.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>-->
  <!--Course Fee-->
  <location path="coursefees.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/admissions/course-fees.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <!--Campus-->
  <location path="campus.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/campus/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="campusamenities.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/campus/amenities.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="zero-carbon.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/campus/zero-carbon.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="hostel.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/campus/hostel.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="library.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/campus/library.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="studentassociation.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/campus/student-association.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="hospital.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/campus/hospital.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <!--Centers-->
  <location path="cuii.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/centres/centre-for-university-industry-interaction.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="cpt.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/centres/centre-of-excellence-for-periyar-thought.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="crd.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/centres/centre-for-rural-development.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="ccc.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/centres/centre-for-climate-change.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="cetat.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/centres/cetat.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="csas.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/centres/centre-for-students-and-administrative-services.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="kkcps.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/centres/kkcps.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="cenn.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/centres/centre-of-excellence-for-next-generation-networks.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="veeramanimohancentre.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/centres/veeramani-mohana-centre-for-quality-life-engineering-research.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="ceerp.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/centres/centre-of-excellence-for-erp.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="periyardcentre.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/centres/periyar-r-and-d-centre-for-bio-and-solar-energies.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="ptbi.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/centres/periyar-technology-business-incubator.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <!--Gallery-->
  <location path="gallery.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/gallery/default.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="videos.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/gallery/videos.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <!--Research-->
  <location path="reseachculture.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/research/culture.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="outcomebasedteaching.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/research/outcome-based-teaching.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="researchoutput.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/research/research-output.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="researchdownloads.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/research/downloads.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <!--Contact-->
  <location path="contactus.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/contact/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="informationcenters.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.pmu.edu/contact/information-centers.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <!--<modules runAllManagedModulesForAllRequests="true">-->
    <!--<httpErrors>
      <error statusCode="400" path="E:\inetpub\vhosts\pmu.edu\error_docs\bad_request.html"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" path="E:\inetpub\vhosts\pmu.edu\error_docs\not_found.html"/>
      <remove statusCode="405" subStatusCode="-1"/>
      <error statusCode="405" path="E:\inetpub\vhosts\pmu.edu\error_docs\method_not_allowed.html"/>
      <remove statusCode="406" subStatusCode="-1"/>
      <error statusCode="406" path="E:\inetpub\vhosts\pmu.edu\error_docs\not_acceptable.html"/>
      <error statusCode="407" path="E:\inetpub\vhosts\pmu.edu\error_docs\proxy_authentication_required.html"/>
      <remove statusCode="412" subStatusCode="-1"/>
      <error statusCode="412" path="E:\inetpub\vhosts\pmu.edu\error_docs\precondition_failed.html"/>
      <error statusCode="414" path="E:\inetpub\vhosts\pmu.edu\error_docs\request-uri_too_long.html"/>
      <error statusCode="415" path="E:\inetpub\vhosts\pmu.edu\error_docs\unsupported_media_type.html"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <error statusCode="500" path="E:\inetpub\vhosts\pmu.edu\error_docs\internal_server_error.html"/>
      <remove statusCode="501" subStatusCode="-1"/>
      <error statusCode="501" path="E:\inetpub\vhosts\pmu.edu\error_docs\not_implemented.html"/>
      <remove statusCode="502" subStatusCode="-1"/>
      <error statusCode="502" path="E:\inetpub\vhosts\pmu.edu\error_docs\bad_gateway.html"/>
    </httpErrors>-->
    <httpErrors>
      <remove statusCode="400" />
      <error statusCode="400" path="G:\PleskVhosts\pmu.edu\error_docs\bad_request.html" />
      <remove statusCode="401" />
      <error statusCode="401" path="G:\PleskVhosts\pmu.edu\error_docs\unauthorized.html" />
      <remove statusCode="403" />
      <error statusCode="403" path="G:\PleskVhosts\pmu.edu\error_docs\forbidden.html" />
      <remove statusCode="404" />
      <error statusCode="404" path="G:\PleskVhosts\pmu.edu\error_docs\not_found.html" />
      <remove statusCode="405" />
      <error statusCode="405" path="G:\PleskVhosts\pmu.edu\error_docs\method_not_allowed.html" />
      <remove statusCode="406" />
      <error statusCode="406" path="G:\PleskVhosts\pmu.edu\error_docs\not_acceptable.html" />
      <remove statusCode="407" />
      <error statusCode="407" path="G:\PleskVhosts\pmu.edu\error_docs\proxy_authentication_required.html" />
      <remove statusCode="412" />
      <error statusCode="412" path="G:\PleskVhosts\pmu.edu\error_docs\precondition_failed.html" />
      <remove statusCode="414" />
      <error statusCode="414" path="G:\PleskVhosts\pmu.edu\error_docs\request-uri_too_long.html" />
      <remove statusCode="415" />
      <error statusCode="415" path="G:\PleskVhosts\pmu.edu\error_docs\unsupported_media_type.html" />
      <remove statusCode="500" />
      <error statusCode="500" path="G:\PleskVhosts\pmu.edu\error_docs\internal_server_error.html" />
      <remove statusCode="501" />
      <error statusCode="501" path="G:\PleskVhosts\pmu.edu\error_docs\not_implemented.html" />
      <remove statusCode="502" />
      <error statusCode="502" path="G:\PleskVhosts\pmu.edu\error_docs\bad_gateway.html" />
      <remove statusCode="503" />
      <error statusCode="503" path="G:\PleskVhosts\pmu.edu\error_docs\maintenance.html" />
    </httpErrors>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp>
       <network host="relay-hosting.secureserver.net" userName="info@quick-query.info" password="info2023##" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
